
@{
	ViewBag.Title = "Index";
}
<h2>Index</h2>

<div ng-controller="bulbIndexController">
	<div ng-view>

		<div>


			<a class="btn btn-sm btn-default aria-label=" Toggle Power on this Bulb"" ng-click="togglePowerAll()">
				<span class="glyphicon glyphicon-off" aria-hidden="true" ng-style="{ color: areAnyOn() ? 'red' : 'gray' }"></span>
			</a>
			Master Power
		</div>

		<table id="groupsTable" class="table table-bordered">
			<tr>
				<th>
					Group
				</th>
				<th>Bulbs</th>
				<th></th>
			</tr>

			<tr ng-repeat="group in groups">
				<td>
					<a class="btn btn-sm btn-default aria-label=" Toggle Power on this Bulb"" ng-click="togglePowerGroup(group)">
						<span class="glyphicon glyphicon-off" aria-hidden="true" ng-style="{ color: isGroupOn(group) ? 'red' : 'gray' }"></span>
					</a>
					{{ group.Name }}
				</td>

				<td>
					<div class="well well-sm">
						<table id="bulbsTable" class="table table-bordered">
							<tr>
								<th>Label</th>
								<th>Hue</th>
								<th>Saturation</th>
								<th>Brightness</th>
								<th>Kelvin</th>
								<th></th>
							</tr>

							<tr ng-repeat="bulb in group.Bulbs">
								<td>
									<a class="btn btn-sm btn-default aria-label=" Toggle Power on this Bulb""
									   ng-click="togglePowerBulb(bulb.BulbId)">
										<span class="glyphicon glyphicon-off" aria-hidden="true" ng-style="{ color: bulb.IsOn ? 'red' : 'gray' }"></span>
									</a>

									{{ bulb.Label }}
								</td>
								<td>
									{{ bulb.Hue }}

								</td>
								<td>
									{{ bulb.Saturation }}
								</td>
								<td>
									{{ bulb.Brightness }}
								</td>
								<td>
									{{ bulb.Kelvin }}
								</td>
								<td>
									Bulb Edit, Details, Delete
									@*@Html.ActionLink("Edit", "Edit", new { id = bulb.BulbId }) |
						@Html.ActionLink("Details", "Details", new { id = bulb.BulbId }) |
						@Html.ActionLink("Delete", "Delete", new { id = bulb.BulbId })*@
								</td>
							</tr>

						</table>
					</div>

				</td>
	<td>
		Group Edit, Details, Delete
		@*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
			@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
			@Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
	</td>
	</tr>

	</table>

	<spectrum-colorpicker ng-model="mycolor"></spectrum-colorpicker>
	<div>
		<span class="glyphicon glyphicon-off" aria-hidden="true" ng-style="{ color: {{mycolor}} }"></span>
	</div>
</div>
</div>


@*<h2>Basic Usage</h2>
<input type='text' class="basic" />
<em id='basic-log'></em>*@


<script src="~/scripts/views/Bulb/Index.js"></script>
